.form-container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    .form{
        display: flex;
        margin-top: 40px;
        
       
       
        .option{
            display: flex;
            // margin-top: 20px;
            // width: 320px;
            height: 1px;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--grey);
            margin-left: 65px;
            margin-bottom: 20px;

            span{
                // margin: 0auto;
                // width: 320px;
                z-index: 1;
                position: absolute;
                background-color: var(--white);
                color: var(--grey);
                // margin-left: 100px;
            }
        
        }

        .details{
            display: flex;
            gap: 20px;
            flex-direction: column;
        }
        .emailbtn{
            background-color: #30C58D;
            color: var(--white);
        }
    }

}




